################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/BrainAI_Handbooks/CopilotIndices/17.14.1593.33849
/.vs/BrainAI_Handbooks/FileContentIndex
/.vs/BrainAI_Handbooks/v17/.wsuo
/.vs/BrainAI_Handbooks/v17/DocumentLayout.json
/.vs
